body {
    padding-top: 70px;
}

.pullsar-spacer {
    margin-top: 50px;
}

.pullsar-campaign {
    margin-bottom: 30px;
}

.logo {
    width: 50%;
}

.campaing-hashtag {

}

footer {
    margin: 50px 0;
}

